body {
  background: #fff;
  color: #333; }


.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("gallerybackground.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 350px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 350px; }

  #imh{
	margin:5px 0px 5px 0px;
}
#imh:hover{
}
/* #back{

} */

#desktop-content {display: block;}
#mobile-content {display: none;}

@media screen and (max-width: 768px) {

#desktop-content {display: none;}
#mobile-content {display: block;}

}
