body {
  background: #333;
  color: #fff; }


.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("gallerybackground.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 350px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 350px; }

  #imh{
	border:10px solid #33CCFF;
	margin:0;
}
#imh:hover{
	border:10px solid white;
}
#back{
	
	background-color:#66FFFF;
}
#back:hover{
	background-color:#CCFFFF;
}
